.main-menu {
  background-color: var(--sub-color);
}
.navbar .dropdown-menu {
  border: none;
  background-color: #fff !important;
}
.navbar .nav-link {
  border-bottom: 3px solid rgba(244, 142, 53, 0);
  font-size: 14px;
}
.navbar .nav-link:hover {
  border-bottom: 3px solid rgb(244, 141, 53);
}

.burger-wrapper {
  cursor: pointer;
}
#meny {
  background: #665a5a;
  width: 50rem;
  height: 100vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
  transform: translateX(50rem);
  top: 0;
  z-index: 0;
  transition: 0.5s;
}
#menyAvPaa {
  display: none;
}

#menyAvPaa:checked ~ #meny {
  transform: translateX(0rem);
}

#burger {
  position: absolute;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#burger > div {
  height: 2px;
  background-color: #000;
  transition: 0.5s;
  z-index: 999;
}

#menyAvPaa:checked ~ #burger > div {
  background-color: #fff;
}

#menyAvPaa:checked ~ #burger > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
  opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid var(--main-color);
  border-right: none;
  padding: 5px;
  height: auto;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: var(--main-color);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.top-bar {
  font-size: 13px;
}
.accordion-button-area {
  border-left: 2px solid var(--main-color);
}
.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  border-bottom: 1px solid #eee;
  color: var(--main-color);
}

.accordion-button img {
  max-width: 20px; /* Adjust the width as needed */
  max-height: 20px; /* Adjust the height as needed */
}
.accordion-button::after {
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  background-image: url(https://i.ibb.co/98s0BYZ/down.png) !important ;
}
.extra-dropdown {
  border-radius: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 12px;
  width: 20px !important;
  min-width: 5rem;
  background: var(--sub-main-color);
  color: white;
  border: 2px solid #878383;
}
.exhibition-btn {
  border: 1px solid white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.exhibition-btn:hover {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  transition: all 0.5s;
  color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top-dropdown {
  color: var(--text-color);
}
.top-dropdown:active {
  color: #fff;
  background-color: var(--main-color);
}

.popover__title {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 4px 0 0px;
}

.popover__wrapper {
  position: relative;
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -60px;
  right: -60px;
  transform: translate(0, 10px);
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: auto;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
}
.signin {
  background-color: var(--main-color);
  color: white;
  width: 100%;
}
.signin:hover {
  background-color: var(--sub-color);
}

.menu-single-items a:hover {
  margin-left: 5px;
  transition: all 0.5s;
}

.menu-dropdown {
  border: 0 !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}
.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}
.devider-wrap {
  margin: 30px 0px 20px;
  padding: 0px 20px;
  font-size: 14px;
  color: rgb(85, 86, 89);
  font-family: HurmeGeometricSans_SemiBold, sans-serif;
  text-transform: uppercase;
}
.devider-content {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 0px 20px;
  font-family: HurmeGeometricSans_No4_5_SemiBold, Arial, sans-serif;
  font-size: 1.16em;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(211, 211, 211);
  position: relative;
}
.devider-text {
  padding: 0px 20px;
  background-color: rgb(246, 246, 246);
  position: absolute;
  bottom: -10px;
}

/* Card Design */
.newsCard {
  position: relative;
  width: 100%;
  /* height: 100px; */
  background-color: #fff;
  color: black;
  overflow: hidden;
  border-radius: 6px;
}

figure img {
  display: block;
  object-fit: cover !important;
  object-position: center center !important;
}

.overlay {
  background: rgb(40, 26, 54);
  background: -moz-linear-gradient(
    0deg,
    var(--sub-main-color) 20%,
    rgba(89, 59, 116, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    var(--sub-color) 20%,
    rgba(89, 59, 116, 0) 100%
  );
  background: linear-gradient(
    0deg,
    var(--sub-color) 20%,
    rgba(89, 59, 116, 0) 100%
  );
  display: block;
  position: absolute;
  height: 200px;
  width: 100%;
  bottom: 0;
  z-index: 3;
}

.newsCaption {
  position: absolute;
  top: auto;
  bottom: 15px;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 15px;
  -webkit-transform: translateY(80%);
  transform: translateY(80%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.newsCaption i {
  font-size: 24px;
}
.tags-text {
  font-size: 12px !important;
}

.newsCaption-title {
  margin-top: 0px;
}
.newsCaption-content {
  margin: 0;
}
.newsCaption-link {
  color: #fff;
  text-decoration: underline;
  opacity: 0.8;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}
.news-Slide-up:hover .overlay {
  background: var(--main-color);
  background: -moz-linear-gradient(
    0deg,
    var(--main-color) 40%,
    rgba(89, 59, 116, 0) 100%
  );
  color: #000;
  background: -webkit-linear-gradient(
    0deg,
    var(--main-color) 50%,
    rgba(89, 59, 116, 0) 100%
  );
  background: linear-gradient(
    0deg,
    var(--main-color) 60%,
    rgba(89, 59, 116, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#400a6f",endColorstr="#593b74",GradientType=1);
}

.news-Slide-up:hover .newsCaption {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.projects-card:hover {
  transform: scale(1.1);
}
.projects-card {
  transition: transform 0.5s;
  border: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.project-para {
  line-height: 25px;
  word-spacing: 0px;
}
.special-exhibit {
  background: linear-gradient(
    90deg,
    rgb(216, 55, 48) 0%,
    rgb(244, 141, 53) 100%
  );
}
.develop-business {
  display: flex;
  align-items: center;

  box-shadow: rgb(244, 141, 53) 0px 0px 4px -1px;
}

.social-icons-btn {
  display: flex;
}
.border-left-side {
  border-right: 1px solid var(--sub-color);
}
.icons {
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  background: #111;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  transition: all 0.15s ease;
}
.twitter:hover {
  background: #00ecee;
}
.facebook:hover {
  background: #4267b2;
}
.instagram:hover {
  background-image: linear-gradient(#8a3ab9, #e95950, #bc2a8d, #fccc63);
}
.linkedin:hover {
  background: #0a66c2;
}

#buttonss {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#buttonss::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#buttonss:hover {
  cursor: pointer;
  background-color: #333;
}
#buttonss:active {
  background-color: #555;
}
#buttonss.show {
  opacity: 1;
  visibility: visible;
}
.buying-area{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .top-bar {
    display: none !important;
  }
  .newsCaption {
    position: relative;
  }
  .social-area {
    display: flex !important;
    flex-direction: column;
    text-align: center;
  }
  .footer-logo{
    display: none;
  }
  .projects-card{
    margin-top: 15px;
  }
  .develop-business {
    box-shadow: rgb(244, 141, 53) 0px 0px 4px -1px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.buying-area{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.buying-area div{
 margin-left: 0px !important;

}
}
@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }

  .navbar .dropdown-menu {
    border-radius: 0px;
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
    right: 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }

  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}
