/* Font Family Start*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@font-face {
  font-family: hurme-light;
  src: url("/assets/fonts/hurme-geometric-sans/HurmeGeometricSans1-Light.otf")
    format("opentype");
}
@font-face {
  font-family: hurme-most-light;
  src: url("/assets/fonts/hurme-geometric-sans/HurmeGeometricSans1-Hairline.otf")
    format("opentype");
}
@font-face {
  font-family: hurme-semi-bold;
  src: url("/assets/fonts/hurme-geometric-sans/HurmeGeometricSans1SemiBoldOblique.otf")
    format("opentype");
}
@font-face {
  font-family: hurme-full-bold;
  src: url("/assets/fonts/hurme-geometric-sans/HurmeGeometricSans1-Black.otf")
    format("opentype");
}
@font-face {
  font-family: hurme-big-bold;
  src: url("/assets/fonts/hurme-geometric-sans/HurmeGeometricSans1-Bold.otf")
    format("opentype");
}
@font-face {
  font-family: hurme-italic-bold;
  src: url("/assets/fonts/hurme-geometric-sans/HurmeGeometricSans1-BoldOblique.otf")
    format("opentype");
}

/* Font Family End*/

:root {
  --main-color: #f48d35;
  --sub-main-color: #4c4c4c;
  --sub-color: #555555;
  --main-bg-color: #f6f6f6;
  --border-color: #f6eae0;
  --toggle-color: #d0d0d0;
  --text-color: #b1afaf;
}
.sub-font{
  font-family: 'Poppins', sans-serif;
}

.main-color {
  color: var(--main-color);
}
/* Scroll Bar Css */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* Scroll Bar Css */
.specification-areas-brand::-webkit-scrollbar {
  width: 3px;
}

.specification-areas-brand::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.specification-areas-brand::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.description-areas-brand::-webkit-scrollbar {
  width: 3px;
}

.description-areas-brand::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.description-areas-brand::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.scroll-menu-container::-webkit-scrollbar {
  width: 3px;
}

.scroll-menu-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll-menu-container::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Default Style end*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #f6f6f6;
  color: rgba(0, 0, 0, 0.87);
  min-height: 100vh;
  font-family: hurme-light;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
[role="button"] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: 0;
  }
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  color: var(--main-color);
  transition: all 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-size: inherit; */
  font-weight: inherit;
}
.font-small{
  font-size: 8px;      
}
.font-one{
  font-size: 10px;      
}
.font-two{
  font-size: 12px;      
}
.font-three{
  font-size: 14px;      
}
.font-four{
  font-size: 16px;      
}
.text-justify{
  text-align: justify;
}

ol,
ul {
  list-style: none;
}

[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

::-moz-placeholder {
  opacity: 1;
}

textarea {
  vertical-align: top;

  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    outline: 0;
  }
}

/* Default Style end*/
